:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #120f1b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
  padding: 0;
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fade-out {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

#mainMenu{
  width: 70%;
  height: 50svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex{
  display: flex;
  flex-direction: column;
}

.wideGap{
  
  gap: 10em;
  justify-content: space-between;
  height: 100%;
}

.narrowGap{
  
  height: 500px;
  justify-content: space-between;
}

h1{
  font-size: min(8vw, 48px);
  font-weight: 700;
  display: inline;
  margin: 0;
  padding: 10px 20px;

}

h2{
  position: relative;
  left: -2em;
  font-size: min(5vw, 28px);
  font-weight: 300;
  display: inline;
  margin:0 ;
  padding: 10px 20px;
}

h1:hover, h2:hover{
  color: red;
  transition: all 0.2s ease-in-out;
}

#exitBTN{
  font-weight: 300;
}
